/* Body */
body {
    background: linear-gradient(to top, rgb(196, 34, 34), rgb(72, 80, 100));
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0; 
    max-width: 100%; 
    overflow-x: auto;
    color: #ffffff; /* Testo bianco per contrasto */
}

/* Navbar */
.navbar {
    background-color: var(--navbar-bg, rgb(48, 54, 78));
    border-bottom: none; /* Rimuove il bordo inferiore */
    margin-bottom: 0; /* Assicura che non ci sia un margine sotto la navbar */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 50;
    -ms-overflow-style: none;  
    scrollbar-width: none;  
}
.navbar a {
    transition: background-color 0.3s ease, color 0.3s ease;
    padding: 22px;
}

.navbar a:hover {
    background-color: #1d5897; /* Colore di sfondo al passaggio del mouse */
    color: #ffffff; /* Colore del testo al passaggio del mouse */
}
.navbar::-webkit-scrollbar {
    display: none;  
}
/*rimuovere*/
.nav-links {
    display: flex;
    white-space: nowrap;
    /*overflow-x: auto;*/
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.nav-links::-webkit-scrollbar {
    display: none;
}
.nav-link:hover {
    color: #a3a3a3; 
}

/* Button styles */
button[type="submit"], button, .btn-primary, .btn-danger {
    padding: 11px 24px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, color 0.3s ease;
}
.btn-primary {
    background-color: #3d86da;
    border-color: #1d5897;
    color: white;
}
.btn-danger {
    background-color: #c4404d;
    border-color: #dc3545;
    color: white;
}
.btn-primary:hover, .btn-danger:hover, button[type="submit"]:hover {
    opacity: 0.8;
    background-color: #2980b9; /* Cambia il colore al passaggio del mouse */
}
.home-button {
    background-color: #2d3748; /* bg-gray-800 */
    color: #ffffff; /* text-white */
    font-weight: bold;
    padding: 3rem 2rem; /* py-12 px-8 */
    border-radius: 0.5rem; /* rounded */
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1); /* shadow-lg */
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 200px;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.home-button:hover {
    background-color: #1a202c; /* hover:bg-gray-900 */
    transform: scale(1.05);
}


/* Table styles */
.table-responsive {
    margin-top: 20px;
}
table {
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    border-collapse: separate;
    border-spacing: 0; 
    margin: 0 auto;
}
.center-table th, .center-table td, th, td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #7f8c8d;
    vertical-align: middle;
}
.center-table th {
    background-color: #34495e;
    color: #fff;
}
.center-table tr:nth-child(even) {
    background-color: #34495e;
}
.center-table tr:hover {
    background-color: #3a5168;
}
.table thead th {
    border-bottom: 2px solid #dee2e6;
}

/* Forms */
.form-container {
    margin: 5% auto;
    max-width: 800px;
    margin-top: 7%;
    background-color: #2c3e50;
    padding: 2%;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    color: #ecf0f1;
}
.form-control {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #bdc3c7;
    border-radius: 6px;
    box-sizing: border-box;
    background-color: #ecf0f1;
    color: #2c3e50;
}
.form-control::placeholder {
    color: #7f8c8d;
}
textarea.form-control {
    height: 100px;
    resize: vertical;
}

.form-login {
    width: 100%;
    max-width: 28rem;
    margin-top: 1.5rem;
    padding: 1.5rem;
    background-color: #2c3e50;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    border-radius: 0.5rem;
}

input[type="file"] {
    background-color: #ecf0f1;
    padding: 5px;
}

/* Labels */
label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

/* Headings */
h2 {
    margin-bottom: 20px;
}

/* Footer */
.footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background: #2c3e50;
    color: #ecf0f1;
}
.landing-page-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*background-color: rgb(18, 24, 38); Consistente con altre pagine */
    color: #ecf0f1;
    padding: 20px;
}

.landing-page-header {
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 2rem;
    color: #ffffff; /* Colore coerente con la navbar */
}

.logo-container img {
    width: 200px;
    height: auto;
    margin-bottom: 2rem;
}
/*Error*/
.error-page {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f3f4f6;
    font-family: Arial, sans-serif;
}
.error-container {
    text-align: center;
    padding: 2rem;
    max-width: 600px;    
}

.error-image {
    max-width: 400px;
    margin-bottom: 2rem;
}

.error-title {
    color: #1f2937;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

.auth-buttons a {
    margin: 0 15px;
    padding: 15px 30px;
    font-size: 1.5rem;
    font-weight: bold;
    background-color: #3498db;
    color: white;
    border-radius: 10px;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.auth-buttons a:hover {
    background-color: #2980b9; /* Effetto hover */
    transform: scale(1.05); /* Leggero effetto zoom */
}
.max-h-64 {
    max-height: 16rem;
}
        /* Sovrascrivi gli input di Tailwind per il tema scuro */
.form-input,
.form-textarea,
.form-select,
.form-multiselect {
    background-color: #cac6c6 !important;
    color: #2d3748;
}
.form-checkbox {
    width: 20px;
    height: 20px;
    cursor: pointer;
    accent-color: #000000; /* Cambia il colore della checkbox */
    border: 2px solid #000000; /* Aggiungi un bordo */
    background-color: #999999 !important; /* Colore di sfondo bianco */
    margin-right: 8px;
}

/* Mega Menu */
.mega-menu {
    display: none;
    left: 0;
    position: absolute;
    text-align: left;
    width: 100%;
    background-color: #48667a;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

/* Voci del Menù */
.mega-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.mega-menu ul li {
    margin-bottom: 0.25rem; /* Margine inferiore per aumentare lo spazio tra le voci */
}

/* Mega Menu */
.mega-menu ul li a {
    padding: 0.5rem 1rem; /* Ridotto il padding per evitare strabordamenti */
    color: #ffffff;
    background-color: transparent;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
    line-height: 1.6;
    font-size: 1rem;
}

.mega-menu ul li a:hover {
    background-color: #2980b9;
    color: #ffffff;
    border-radius: 0.375rem;
    transform: translateX(3px); /* Ridotto il movimento laterale */
}

/* Hoverable per gestire la visibilità del mega menu */
.hoverable {
    position: static;
}

.hoverable > a:after {
    content: "\25BC";
    font-size: 10px;
    padding-left: 6px;
    position: relative;
    top: -1px;
}

.hoverable:hover .mega-menu {
    display: block;
}